/* IMPORTS */
/* font-family: 'Lexend Deca', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;600&display=swap');

/* RESET HTML */
* {
	margin: 0;
	padding: 0;
}

main {
	background-color: hsl(233, 47%, 7%);
	height: 100vh;
}

section {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-basis: 0;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.card-container {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: normal;
	background-color: hsl(244, 38%, 16%);
	border-radius: 5px;
	max-width: 1440px;
	box-sizing: border-box;
}

.container {
	display: block;
	margin: auto 30px;
}

.title {
	margin: 40px auto;
}

.title h1 {
	font-family: 'Lexend Deca', sans-serif;
	font-size: 50px;
	font-weight: 600;
	color: #ffffff;
	line-height: 50px;
}

.title h1 span {
	font-family: 'Lexend Deca', sans-serif;
	text-transform: lowercase;
	color: hsl(277, 64%, 61%);
}

.subtitle {
	margin: 10px auto;
}

.subtitle p {
	font-family: 'Lexend Deca', sans-serif;
	font-size: 15px;
	font-weight: 300;
	color: hsla(0, 0%, 100%, 0.75);
	width: 310px;
}

.stats {
	margin-top: 100px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}

.stats-n {
	display: inline-block;
	margin: auto 30px auto auto;
	font-family: inherit;
	font-size: 40px;
	font-weight: 600;
	color: #ffffff;
	text-align: initial;
	line-height: 20px;
}

.stats-n span {
	font-family: inherit;
	font-size: 12px;
	text-transform: uppercase;
	color: hsla(0, 0%, 100%, 0.6);
}

.right-img {
	display: block;
	background-color: hsl(277, 64%, 61%);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
}

.right-img img {
	width: 100%;
	height: 100%;
	filter: contrast(1.5);
	z-index: 7;
	opacity: 0.4;
}

/* MOBILE */
@media(max-width: 578px) {
	main {
		background-color: hsl(233, 47%, 7%);
		height: 100%;
	}

	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		padding: 100px 20px;
	}

	.card-container {
		display: flex;
		flex-direction: column-reverse;
		flex-wrap: wrap;
		box-sizing: border-box;
		border-radius: 5px;
	}

	.container {
		text-align: center;
	}

	.title h1 {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 28px;
		font-weight: 600;
		color: #ffffff;
		line-height: 50px;
	}

	.subtitle p {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 15px;
		font-weight: 300;
		color: hsla(0, 0%, 100%, 0.75);
		width: auto;
	}

	.stats {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.stats-n {
		display: block;
		margin: auto auto 30px auto;
		font-family: inherit;
		font-size: 35px;
		font-weight: 600;
		color: #ffffff;
		text-align: center;
		line-height: 20px;
	}

	.right-img {
		display: block;
		background-color: hsl(277, 64%, 61%);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		z-index: 1;
	}

	.right-img img {
		width: 100%;
		height: 100%;
		z-index: 999;
		filter: contrast(1.5);
		object-fit: cover;
		opacity: 0.4;
	}
}